<form method="post" action="{{ path('app_chaussures_delete', {'id': chaussure.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cette chaussure?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ chaussure.id) }}">
	<button class="btn btn-danger">Supprimer</button>
</form>
