<h1>Bonjour, veuillez s'il vous plaît confirmer votre adresse mail.</h1>

<p>
    Vous pouvez confirmer votre adresse mail en cliquant sur le lien suivant : <br><br>
    <a href="{{ signedUrl }}">Confirmer mon adresse mail</a>.
    Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    RUN
</p>