{% extends 'base.html.twig' %}

{% block title %}RUN - Mentions légales
{% endblock %}

{% block body %}
	<header class="bg-gris-bleu py-5 text-center">
		<h1>Mentions légales</h1>
	</header>

	<main class="bg-gris-bleu">
		<section class="container py-5">
			<h2>I. Informations légales</h2>
			<p>Le site internet RUN est édité par Pierre Leroy, ce site a été réalisé afin de montrer des compétences en développement web pour être présenté devant un jury. Les mentions légales suivantes peuvent ne pas être exactes.</p>
			<p>Directeur de la publication : Pierre Leroy</p>
			<p>Adresse email : run-admin@gmail.com</p>

			<h2>II. Propriété intellectuelle</h2>
			<p>Le site internet ainsi que l'ensemble de son contenu (notamment les textes, photographies, vidéos, logos, marques, etc.) sont protégés par le droit de la propriété intellectuelle. Toute reproduction, représentation, modification, publication, adaptation ou exploitation de tout ou partie du site internet et de son contenu est strictement interdite sans l'autorisation préalable et écrite de RUN.</p>

			<h2>III. Données personnelles</h2>
			<p>Les données personnelles collectées sur le site internet sont utilisées dans le respect de la réglementation en vigueur en matière de protection des données personnelles (notamment le Règlement Général sur la Protection des Données). Pour plus d'informations sur la collecte et le traitement de vos données personnelles, veuillez consulter notre Politique de confidentialité.</p>

			<h2>IV. Cookies</h2>
			<p>Le site internet utilise des cookies. Pour plus d'informations sur l'utilisation des cookies, veuillez consulter notre Politique de confidentialité.</p>

			<h2>V. Responsabilité</h2>
			<p>La responsabilité de RUN ne saurait être engagée en cas de difficulté d'accès au site internet, de perturbation dans la connexion, de virus, de piratage informatique ou de tout autre événement de force majeure.</p>

			<h2>VI. Droit applicable</h2>
			<p>Le site internet est soumis au droit français. Tout litige relatif à l'utilisation du site internet sera soumis aux juridictions compétentes.</p>

			<h2>VII. Modification des mentions légales</h2>
			<p>RUN se réserve le droit de modifier les présentes mentions légales à tout moment et sans préavis. Les modifications seront opposables aux utilisateurs du site internet dès leur mise en ligne. Il est donc conseillé de consulter régulièrement les présentes mentions légales.</p>
		</section>
	</main>

	<section class="radius-bot-articles"></section>
	{# affichage style vague #}


</div><hr class="container">{# pour le footer #}{% endblock %}
