{% extends 'base.html.twig' %}

{% block title %}RUN - Page non existante
{% endblock %}

{% block body %}
	<div class="alert alert-danger w-50 mx-auto text-center my-3">
		<p class="fs-1">Il semblerait que vous vous soyez perdu...</p>
		<a class="btn btn-dark my-3 fs-3" href="{{ path('app_home') }}">Retourner à l'accueil</a>
	</div>
{% endblock %}
